body{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    background-color: #F5E9D7;
    transition: background-color 0.5s ease-in-out;
    display:flex;
    flex-direction: column;
}

body.dark-theme {
    background-color: black;
    color:#deb887;
}

html {
    scroll-behavior: smooth;
}

.dropdown-btn {
    position: relative;
    background-color: #F5E9D7;
    color:#4B2E2B;
    padding: 0 0 10px 0;
    font-weight: bold;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display:flex;
    flex-wrap: nowrap;
    gap:5px;
}

.dropdown-btn i {
    margin-left: 2px;  
}

.dropdown-content {
    display:none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 240px;    
}

div.dropdown-content.cafes-minWidth {
    min-width: 165px;
}

div.dropdown-content.cafeteira-minWidth{
    min-width: 208px;

}

.dropdown {
    display:inline-block;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown-content a {
    display:block;
    background-color: #F5E9D7;
    padding: 10px 0px 10px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none; 
    color:#4B2E2B; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

.dropdown-content a:hover{
    background-color: #EAD7BC;   
}

.dark-background a:hover  {
    background-color: #4B2E2B;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
    box-shadow: 3px 3px 3px white;
    position:absolute;
    width:100%;
    top:0;
    z-index: 3;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.navbar-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 15px;
    padding-left: 40px;

}

.navbar-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    padding-right: 40px;
}


.botao-de-fonte {  
    background-color: #F5E9D7;
    color:#4B2E2B;
    font-weight: bold;
    border: none;
    margin-top: 0px;
    padding: none;
    cursor: pointer;
}

#tema  {   
    background-color: white;
    height:20px;
    width: 20px;
    border-radius: 25px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 0px;
}

.navbar-left a {
    display: block;
    margin-bottom: 7px;
    width: 200px;
    height: 60px;
    background-image: url('../../images/modo_tranparente.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.navbar:hover .navbar-left a {
    background-image: url('../../images/modo_claro.png');
}

body.dark-theme .navbar:hover .navbar-left a {
  background-image: url('../../images/modo_escuro.png');
  
  
}

.tamanho-da-fonte {
    font-size: 20px;
    background-color: #F5E9D7;
}

.dropdown-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 1.40px;
    background-color: black;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.dropdown:hover .dropdown-btn::after {
    transform: translateX(-50%) scaleX(1);
}

.navbar-shadow {
    box-shadow: 3px 3px 3px burlywood; 
}

.check-btn {
    font-size: 30px;
    color:black;
    cursor:pointer;
    position: relative;
    display: none;
}

#check {
    display:block;
}

.logo-container {
    display:none;
    justify-content: center;
    background-color: #F5E9D7;
    padding-top: 10px;
    position:fixed;
    top:0;
    width:100%;
}

#menu-check{
    padding-left: 20px;
}

#check {
    display:none;
}

body.dark-theme a{
    background-color: black;
    color:#deb887;
}

.navbar * {
    background-color: transparent ;
    color:white;
      
}

.navbar:hover {
    background-color: #F5E9D7;
    box-shadow: 3px 3px 3px #4B2E2B;
}

.navbar:hover * {
    color:#4B2E2B;
}

body.dark-theme .navbar {
    box-shadow: 3px 3px 3px white;
}

body.dark-theme .navbar * {
    color:white;
    background-color: transparent;
    
}

body.dark-theme .navbar:hover {
    background-color: black;
    color:#deb887;
    box-shadow: 3px 3px 3px #deb887;

} 

body.dark-theme .navbar:hover *{
    background-color: black;
    color:#deb887;
} 

body.dark-theme .navbar .dropdown-content a:hover {
    background-color: #4B2E2B;
}

@media (max-width:1213px) {

    .check-btn{
        display:block;
    }

   .navbar-center{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position:fixed;
    top:86px;
    left:-100%;
    background-color:transparent;
    z-index: 3;
    height:100%;
    padding:50px 20px 50px 20px;
    box-shadow: 12px 8px 12px 0px rgba(0,0,0,0.2);
    transition: all .5s;
   }

   .navbar-center.top {
    top:0;
   }

   .navbar:hover .navbar-center {
    background-color: #F5E9D7;
   }

   body.dark-theme .navbar:hover .navbar-center {
    background-color: black;
   }

   .dropdown-btn {
    border-bottom: 1px solid black;
   }

   .dropdown #cafes-btn i.fa.fa-caret-down {
    margin-left: 199px; 
   }

   .dropdown #cafeteria-btn i.fa.fa-caret-down {
    margin-left: 159px;
    
   }

   .dropdown-content {
    width: 100%;
   }

   i.fa.fa-caret-down {
    margin-left: 150px;
   }
   
   
    #check:checked ~ .navbar-center  {
    left:0;
   }

   .navbar-left {
    display: flex;
    flex: 1;
    padding-bottom: 0;
   }
  
   .logo-container {
    display: none;
   }

   .navbar-left a {
    display:block;
    height: 50px;
    margin-bottom: 20px;
    }

    .navbar-left {
        justify-content: center;
        padding-left: 0;
    }

    #menu-check {
        display: flex;
        flex: 1;
        justify-content: flex-start;
    }

    .navbar {
        top:0;
    }

    .greeting {
        display:none;   
    }

    #menu-check i {
        color: black;
        font-size: 40px;   
    }
     
    .navbar:hover #menu-check i {
        color: #4b2e2b;
        font-size: 40px;   
    }

    body.dark-theme .navbar:hover #menu-check i {
        color: burlywood;
        font-size: 40px;   
    }
}

@media (max-width:576px) {
    .navbar-right {
        padding-right: 0;
    }

    .navbar-left a {
        height: 40px;
        margin-bottom: 10px;
    }

    .navbar-left{
        width: 120px;
        justify-content:center;
    }

    #menu-check{
    padding-left: 0;
    }
    
    
}

@media (max-width:1412px) {
    .navbar-center {
        flex: 1;
    }

    
}

#mainPageErrorMsg {
    visibility: hidden;
    background-image: linear-gradient(to right  , #A62C2C, #E83F25);
    color:white;
    width: 380px;
    padding: 20px 60px 20px 60px;  
    position: fixed;
    z-index: 1;
    top: 120px;   
    left: 0px;
    right: 0px;
    margin-inline: auto;   
}

#mainPageErrorMsg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;   
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 120px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 120px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 50px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

.titulo-centralizado {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.outlet-container {
    display:flex;
    justify-content: center;
    gap:100px;
    flex-wrap: wrap;
}

.itens-container {
    position: relative;
    display:flex;
    flex-direction: column;

}



.promoção {
    font-size: 10px;
    background-color:#E83F25;
    color:white;
    padding:5px 15px;
    display: inline-block;
    position:absolute;
    top:15px;
    right:0px;
    z-index: 1;

}

.addCart-btn {
    padding:15px 40px;
    border: 1px solid black;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    width:350px;
    color:#4B2E2B;
}

.addCart-btn:hover {
    background-color: black;
    color:white;
}

body.dark-theme .addCart-btn {
    border: 1px solid #deb887;
    color:#deb887;
}

body.dark-theme .addCart-btn:hover {
    background-color: #deb887;
    border: 2px solid #5C2E10;
    font-weight: bold;
    color: #5C2E10;
}

.itens-container span strong {
    font-size: 15px;
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top:15px;
    max-width: 350px;
}

.description-container {
    max-width: 350px;
    text-align: CENTER;
    font-size: 15px;
    margin-top: 10px;
}

.price {
    color:#A62C2C;
}

.formerPrice {
    color:gray
}

.price-container {
    display:flex;
    justify-content: center;
    gap:20px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.esgotado {
    font-size: 10px;
    background-color:gainsboro;
    font-weight: bold;
    color:black;
    padding:5px 15px;
    display: inline-block;
    position:absolute;
    top:15px;
    right:0px;
    z-index: 2;
}

.esgotado-btn { 
    cursor:not-allowed;
    padding:15px 40px;
    border: 1px solid black;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
    width:350px;
   color:#4B2E2B;
}

.esgotado-btn:hover {
    background-color: black;
    color:white;
    opacity: 0.5;
}

body.dark-theme .esgotado-btn {
    border: 1px solid #deb887;
    color:#deb887;
}

body.dark-theme .esgotado-btn:hover {
    background-color: /* #f5e9d7 */ burlywood;
    color: #5C2E10;
    border: 2px solid #5C2E10;
    font-weight: bold;
}



.zoom {
    height:290px;
    transition: transform .5s;
    cursor:pointer;
    
}

.zoom:hover {
  transform: scale(1.1); 
}
.itens-container:has(.esgotado-btn:hover) .zoom {
    transform: scale(1.1);
}

.itens-container:has(.addCart-btn:hover) .zoom {
    transform: scale(1.1);
}

section{
    margin-top: 100px;
}

.semMargem {
    margin:0;
}

.semMargem img {
    box-shadow: 5px 5px 50px 0 #4B2E2B;
}

.center {
    width:360px;
}

footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#4B2E2B
} 

footer {
    border-top: solid #4b2e2b;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom , burlywood , #f5e9d7);
    margin-top: 200px;
}

footer div {
    margin: 32px;
    display: flex;
    flex-direction: column;
}

footer div ul li {
    list-style: none;
    margin: 10px; 
}

footer div ul li a {
    color: black;
    text-decoration: none; 
}

.rodape {
    border-top: solid #4b2e2b;
    text-align: center;
    background-image: linear-gradient(to bottom, burlywood , #f5e9d7);
    padding: 20px;
}

.atendimento {
    margin: 0;
    margin-top: 7px;
    display: flex;
}

.institucionais ul li span {
    cursor:pointer;
}

.botao-de-subir {
    height: 45px;
    width: 45px;
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
    position:fixed;
    bottom: 18px;
    right: 18px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    z-index: 1000;
}

body.dark-theme .botao-de-subir {
    background-color: #deb887;
    color:#5C2E10;
    border: 1px solid #5C2E10;
}

.botao-de-subir.scroll {
    opacity: 1;
    transform: scale(1); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#check-profile {
    cursor:pointer; 
}

#profile-check {
    display:none;
}

.profile-container {
    position:relative;
}

.profile-dropdown {
    position:absolute;
    display:inline-block;
    top:100%;
    right:0;
    opacity: 0;
    transform:scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}

.profile-dropdown * {
    display:block;
    background-color: #F5E9D7;
    padding: 10px 0px 10px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none; 
    color:#4B2E2B; 
    width:140px;
}

.profile-dropdown a:hover {
    background-color: #deb887;
}

body.dark-theme .profile-dropdown a:hover {
    background-color: #4b2e2b;
}

#profile-check:checked ~ .profile-dropdown {
    opacity: 1;
    transform:scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile{
    font-size: 30px;
}

.greeting {
    font-size: 20px;
}

.minhaConta {
    font-weight: bold;
}

.opcao.escondido {
    display: none;
}

#logOut.escondido {
    display:none;
}

body.dark-theme footer {
    background-image: none;
    background-color: black;
    border-top: 1px solid #deb887;
}

body.dark-theme footer * {
    color:#deb887
}

body.dark-theme .rodape {
    background-image: none;
    background-color: black;
    border-top: 1px solid #deb887;
}

body.dark-theme .rodape * {
    color:#deb887
}

.frete-gratis {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.frete-gratis span {
    color: #5C2E10;
    font-weight: 500;
    background-color: #fc6b65;
    padding: 6px 7px 6px 7px ;
    font-size: 14px;

}

.content-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:180px;
}

.producao-grid-container {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height:60vh;
    padding:40px;
    background-color: #f1e3cf;

}

body.dark-theme .producao-grid-container {
    background-color: black;
}

.producao {
    background-color: white;
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    z-index: 1;
    padding:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

body.dark-theme .producao{
    background-color: #3e1f0d;
}

.producao * {
    margin:0;
    padding:0;
}

.producao p {
    text-align: justify;
}

.producao a {
    text-decoration: none;
    background-color: #deb887;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 17px;
    border: 1px solid black;
    color:black;
    cursor: pointer;
    
}

body.dark-theme .producao a {
    background-color: #d2691e;
    color: #fffaf0;
}

.producao-img {    
    grid-column: 1 / 6;
    grid-row: 1 / -1; 
}

.producao-img video {
    object-fit:fill;
    width: 100%;
    min-height:100%;
}
@media(max-width:1000px) {
    .producao-img {
        grid-column: 1 / 8;
    }    

    .producao {
        grid-column: 5/9;
    }
}

@media(max-width:900px) {
    .producao-img {
        grid-column: 1 / 9;
    }

    .producao {
        grid-row: 3 / 5;
        grid-column: 1 / 6;
        height: 100%;
    }
}

@media(max-width:679px) {
    .producao-grid-container {
        grid-template-columns: 1fr; 
    }

    .producao-img {
        grid-column: auto;
        grid-row: 1 /2;
    }

    .producao {
        grid-column: auto;
        grid-row: auto;
        height: auto;    
    }
}

.historia-grid-container {
    display:grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap:5rem;
    padding: 50px;
}

.historia-grid-container * {
    padding:0;
    margin:0;

}

.historia-img {
    display:flex;
    height:50vh;
    flex-direction: column;
    gap:20px;
}

.historia-img img {
    object-fit: cover;
   height:100%;
   width:100%;
}


.historia {
    display:flex;
    flex-direction: column;
    gap:50px;
    text-align: justify;
}

.historia p {
    margin:0;
    padding:0;
}

.historia-titulo {
    margin: 0 0 20px 0;
}

.historia-titulo *{
    margin:0 0 0 50px;
    padding:0;
}

@media(max-width:794px) {
    .historia-titulo h2 {
        margin:0;
    }

    .historia-titulo {
       max-width: fit-content;
  margin-inline: auto;
    }
}